@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Inter Semi';
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

.topo h1 {
  font-size: 38px;
  font-family: 'Inter';
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #33365d;
  margin-bottom: 30px; }
  .topo h1 b {
    font-family: 'Inter';
    font-weight: bold;
    font-style: normal;
    font-size: 38px; }

.topo h2 {
  font-size: 24px;
  font-family: 'Inter';
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #33365d; }
  .topo h2 b {
    font-size: 24px;
    font-family: 'Inter';
    font-weight: bold;
    font-style: normal; }

body {
  background: #ebedf3; }

.topo {
  background: #FFDB4C;
  height: 600px;
  padding-top: 50px;
  background: url(../img/bg_topo.png) no-repeat;
  background-position: bottom;
  background-size: contain;
  background-color: #FFDB4C; }
